.background-image {
    background: url('images/family.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.yellow {
	background: rgba(242, 223, 160, 0.8);
}

.welcome {
	margin-top:10%;
	margin-bottom:20%;
	margin-left:2%;
	background: rgba(255, 255, 255, 0.8);
	border-radius:10px;
	padding-bottom:20px;
}

.start-button {
	width:40%;
	background: rgb(242, 223, 160);
	border-radius:10px;
}

.grid-border{
	border: 1px solid #888;
}

.fill-height{
    padding-bottom: 30%;
}
