.background-image {
    background: url('images/family.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.yellow-transparent {
	background: rgba(242, 223, 160, 0.8);
}
.search-bar {
	background: rgb(242, 223, 160);
	padding-bottom:2%;
	padding-left:5%;
}

.search-button{
	color:white;
	background: rgb(208, 31, 60);
	border-radius:10px;
}

.welcome {
	margin-top:10%;
	margin-bottom:20%;
	margin-left:2%;
	background: rgba(255, 255, 255, 0.8);
	border-radius:10px;
	padding-bottom:20px;
}

.start-button {
	width:40%;
	background: rgb(242, 223, 160);
	border-radius:10px;
}