.background-image {
	background: url('images/family.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;   
}


.grey {
	background: rgba(211, 211, 211, 0.8);
}
.search-bar {
	background: rgb(242, 223, 160);
	padding-bottom:2%;
	padding-left:5%;
}

.search-button{
	color:white;
	background: rgb(208, 31, 60);
	border-radius:10px;
}

.course-overview {
	padding-top:5%;
	padding-left:5%;
}

.welcome {
	margin-top:10%;
	margin-bottom:20%;
	margin-left:2%;
	background: rgba(255, 255, 255, 0.8);
	border-radius:10px;
	padding-bottom:20px;
}

.start-button {
	width:40%;
	background: rgb(242, 223, 160);
	border-radius:10px;
}

.grid-border{
	border: 1px solid #888;
}

.fill-height{
	height: 100%;
}

.image-container {
	height:100%;
	width:150px;
}

.center-label {
	text-align: center;
}

.print-img{
	margin: 20px 15% 5% 15%;
}

.print-prep{
	margin-top: 25px;
}

.btn-middle{
	margin-top: 1.5%;
}

.left-border {
	border-left: 1px solid #ccc;
	padding-top: 27%;
}

.top-border {
	border-top: 1px solid #ccc;
}

.print-button {
	margin-top: 2%;
	padding: 0.5% 15% 0.5% 15%;
	position: relative;
	left: 30%;
}

.no-display{
	display:none;
}